<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345935279819-ape44grvbru67kuqf6aro68lq0egk0jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345935279819-ape44grvbru67kuqf6aro68lq0egk0jp</string>
	<key>API_KEY</key>
	<string>AIzaSyBfDEeUTWJRAb_26rRsqGgx7d1YiUlSo_A</string>
	<key>GCM_SENDER_ID</key>
	<string>345935279819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.njiuko.fass.brewcrew.flutter</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-a35c2</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-a35c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345935279819:ios:ebe6a07757e91322854d4e</string>
	<key>DATABASE_URL</key>
	<string>https://brew-crew-a35c2.firebaseio.com</string>
</dict>
</plist>